<h2>Edit this todo...</h2>

<form action="#">
    <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Enter task">
    <input class="text-input" id="todo-deadline" name="deadline" type="text" placeholder="Add deadline">
    <input class="text-input" id="todo-comments" name="comments" type="text" placeholder="Add comments">
    <input class="button" id="enter-task" name="submit" type="button">
    <a href="/todo/index" class="simple-link">Go back...</a>
</form>