<form action="/todo/update/<%=@todo.id%>">
    <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Enter task">
    <input class="text-input" id="todo-deadline" name="deadline" type="text" placeholder="Add deadline">
    <input class="text-input" id="todo-comments" name="comments" type="text" placeholder="Add comments">
    <input class="button" id="enter-task" name="submit" type="button">
</form>