<div class="indexcss"><h1>Todo List</h1></div>
        <ul>
            <li> 
                <input type="checkbox"> 
                <span class="todo"><a href="show/1">Finish essay</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="show/2">Make dinner</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="show/3">Practice cello</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="show/4">Study code</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="show/5">Buy mom's birthday gift</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="show/6">Meeting with school club</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="show/7">Finish "The Great Gatsby"</a></span>
            </li>
        </ul>
        <div id="new-todo-block">
            <input id="enter-task" type="text" placeholder="Enter task">
            <input id="submit-button" type="submit" value="Add todo">
        </div>
    </div>