<h1>Todo List Application</h1>
        <ul>
            <li> 
                <input type="checkbox"> 
                <span class="todo"><a href="show.html">Finish essay 7/20/17</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="dinner.html">Make dinner 5:00pm</a></span>
            </li>
            <li> 
                <input type="checkbox">
                <span class="todo"><a href="cello.html">Play cello 2:00pm</a></span>
            </li>
        </ul>
        <div id="new-todo-block">
            <input id="enter-task" type="text" placeholder="Enter task">
            <input id="submit-button" type="submit" value="Add todo">
        </div>